.GameResults {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

#CurrentGameResults {
    padding: 0.4em;
}

.scoresContainer {
    display: flex;
    justify-content: space-around;
    padding: 0.4em;
}

.Score {
    border: 3px solid white;
    border-style: solid;
    padding: 0.4em;
    font-size: 0.8em;
}